* {
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    padding: 1rem;
    text-align: center;
}

.pista {
    height: 300px;
    background-image: url('https://image.freepik.com/vector-gratis/fondo-paisaje-carretera-vacia-lo-largo-rio_1639-10327.jpg');
    background-size: cover;
    background-position-y: bottom;
    position: relative;
}

#snail {
    position: absolute;
    top: 160px;
    width: 50px;
    transform: scaleX(-1);
}


