* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: beige;
    padding: 1rem;
    text-align: center;
}

.pista {
    height: 300px;
    background-image: url('https://image.freepik.com/vector-gratis/fondo-paisaje-carretera-vacia-lo-largo-rio_1639-10327.jpg');
    background-size: cover;
    background-position-y: bottom;
    position: relative;
    margin-bottom: 20px;
}

#snail {
    position: absolute;
    top: 160px;
    width: 50px;
    transform: scaleX(-1);
}

.container {
    display: flex;
    padding: 20px;
}

.crono {
    width: 50%;
}

.crono h3 {
    font-size: 50px;
    font-weight: bold;
}

.timer {
    font-size: 50px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    padding: 10px;
}

.times {
    width: 50%;
}


